<app-header></app-header>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Nieuwe bestellingen
        </div>
        <div class="panel-body">
            <div class="table-responsive" style="max-height:300px; overflow-y: scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>OrderId</th>
                            <th>Description</th>
                            <th>CustomerId</th>
                            <th>Totaal</th>
                            <th>Status</th>
                            <th style="text-align: center">Verwerk</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of newOrders; let i = index" class="info">
                            <td>{{i+1}}</td>
                            <td>{{order._id}}</td>
                            <td>{{order.omschrijving}}</td>
                            <td>{{order.customerId}}</td>
                            <td>{{order.totaal}}</td>
                            <td>{{order.status}}</td>
                            <td style="text-align: center"><button (click)="verwerkBestelling(order)" class="glyphicon glyphicon glyphicon-ok                                "></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Alle bestellingen
        </div>
        <div class="panel-body">
            <div class="table-responsive" style="max-height:300px; overflow-y: scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>OrderId</th>
                            <th>Description</th>
                            <th>CustomerId</th>
                            <th>Totaal</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders; let i = index" class="info">
                            <td>{{i+1}}</td>
                            <td>{{order._id}}</td>
                            <td>{{order.omschrijving}}</td>
                            <td>{{order.customerId}}</td>
                            <td>{{order.totaal}}</td>
                            <td>{{order.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>