<app-header></app-header>
<div class="container">
    <div style="width:100%;">
        
            <alert></alert>
        <div class="jumbotron modal-content">

            <h1>Hallo {{currentUser.firstName}}!</h1>
            <h3>Alle geregistreerde gebruikers:</h3>
            <ul>
                <li *ngFor="let user of users">
                    {{user.username}} ({{user.firstName}} {{user.lastName}}) - <a (click)="deleteUser(user._id)">Verwijderen</a>
                </li>
                
            <p><a [routerLink]="['/login']">Afmelden</a></p>
            </ul>
        </div>
    </div>
</div>