<app-header></app-header>
<div class="content" style="margin-top: -100px;">
    <div class="contacts">
        <div class="c">
            <div class="title">
                <p>Contacts</p>
            </div>
            <div class="search">
                <input type="text" placeholder="Search...">
            </div>
            <div class="list">
                <div class="contact" *ngFor="let user of users" (click)="loadConversation(user._id)" >
                    <div class="initialso" *ngIf="user.online">
                        <p style="min-width: 30px;">{{user.firstName.charAt(0)}}{{user.lastName.charAt(0)}}</p>
                    </div>
                    <div class="initialsoff" *ngIf="!user.online">
                        <p style="min-width: 30px;">{{user.firstName.charAt(0)}}{{user.lastName.charAt(0)}}</p>
                    </div>
                    <div class="name">
                        <p>{{user.firstName}} {{user.lastName}}</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="mainmessage">
        <div class="c">
            <div class="title" *ngIf="currentConversation">
                <div *ngIf="currentConversation.user1._id != currentUser._id">
                        <p>{{currentConversation.user1.firstName}} {{currentConversation.user1.lastName}}</p>
                        <div class="online">
                            <p *ngIf="currentConversation.user1.online===true">online</p>
                            <p *ngIf="currentConversation.user1.online===false">offline</p>
                            <p *ngIf="currentConversation.user1.online===undefined">offline</p>
                        </div>
                </div>

                <div *ngIf="currentConversation.user2._id != currentUser._id">
                        <p>{{currentConversation.user2.firstName}} {{currentConversation.user2.lastName}}</p>
                        <div class="online">
                            <p *ngIf="currentConversation.user2.online===true">online</p>
                            <p *ngIf="currentConversation.user2.online===false">offline</p>
                            <p *ngIf="currentConversation.user2.online===undefined">offline</p>
                        </div>
                </div>

                <div *ngIf="currentConversation.user2._id === currentUser._id && currentConversation.user1._id === currentUser._id">
                        <p>{{currentUser.firstName}} {{currentUser.lastName}}</p>
                        <div class="online">
                            <p *ngIf="currentUser.online===true">online</p>
                            <p *ngIf="currentUser.online===false">offline</p>
                        </div>
                </div>
                
            </div>
            <div class="chatbox" *ngIf="currentConversation" #scrollMe (scroll)="onScroll()">
                <div *ngFor="let bericht of currentConversation.berichten" class="{{bericht.van===currentUser._id?'msgu':'msgo'}}">
                    <p>{{bericht.message}}

                    <span class="tooltiptext">{{bericht.hours}}:{{bericht.minutes}}</span>
                    </p>
                </div>
            </div>
            <div class="sendmsg">
                <input type="text" placeholder="type a message" [(ngModel)]="message" (keyup.enter)="sendMessage()">
                <button (click)="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>