<app-header></app-header>
<ng-template [ngxPermissionsOnly]="['ADMIN']">
    <div class="container">
    <div style="width:100%;">
        
            <alert></alert>
        <div class="jumbotron marginLeft240">

            <h1>Hallo {{currentUser.firstName}}!</h1>
        </div>
    </div>
</div>
</ng-template>

<ng-template [ngxPermissionsExcept]="['ADMIN']">
   <div class="container">
    <div style="width:100%;">
        
            <alert></alert>
        <div class="jumbotron">

            <h1>Hallo {{currentUser.firstName}}!</h1>
        </div>
    </div>
</div>
</ng-template>

<style>
    @media (min-width: 768px) {
        .marginLeft240 {
            margin-left: 240px;
        }
    }
</style>